.Candidates__wrapper {
  max-width: 1158px;
  margin: 0 auto;
  padding-top: 5em;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.Candidates {
  text-align: center;
  position: relative;
  display: block;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /* border: 5px solid #ddd; */
  -webkit-box-shadow: 0px 10px 15px -1px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 0px 10px 15px -1px rgba(0, 0, 0, 0.56);
  box-shadow: 0px 10px 15px -1px rgba(0, 0, 0, 0.56);
  border-radius: 0px 0px 12px 12px;
  /* width: 100%; */
  /* margin: 0 auto; */
  border: 0;

  max-height: 40vh;
  overflow: auto;
  overflow-x: hidden;
  /* border: 1px solid black; */
}
.Querry__input {
  margin-left: 20px !important;
}
.Table__nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Title {
  text-align: left;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
}
.Candidates table {
  width: 100%;
}
.Candidates td,
.Candidates th {
  border: 1px solid #ddd;
  padding: 8px;
  /* overflow: hidden; */
}

.Candidates tr:nth-child(even) {
  background-color: #d5f0f7;
}

.Candidates tr:hover {
  background-color: #73dbf5bb;
  /* background-color: #b4f1fca9; */
  cursor: pointer;
}
.Errorhandling__wrapper {
  margin-top: 25vh;
  width: 100%;
  text-align: center;
}
.Candidates th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ffff00;
  color: rgb(0, 0, 0);
  position: sticky;

  top: -0.05em;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  /* width: 100%; */
}

/* #73daf5 */
