.Navigation {
  display: flex;
  /* background-color: #73daf5; */
  height: 4em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Navigation h3 {
  font-size: 2em;
  padding-left: 1em;
}

.Navigation button {
  padding-right: 3em;
}

.Navigation__logo {
  margin-top: 16px;
  margin-left: 30px;
  height: 36px;
}
